/* *{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
overflow: hidden;

}
.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.slide{ */
/* background-color: yellow; */
/* flex: 0.9;
display: flex;
}

.slideDownRight{ */
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height:0;
    background-color: #3498db; 
    animation: slideDown 5s ease-out forwards;
    z-index: -1;
}
@keyframes slideDown{
    to{
        height: 100%;
    }
}
.slideUpRight{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 0;
    background-color: #e57119; 
    animation: slideup 5s ease-out forwards;
    z-index: -1;
}
@keyframes slideup{
    to{
        height: 100%;
    }
}
.footer{
background-color: black;
flex: 0.1;
}
  */
  /* img:hover{
    background-color: yellow;
    padding: 0;
    margin: 0;
    /* filter: brightness(0) saturate(100%) sepia(100%) hue-rotate(50deg) saturate(600%); */
  /* } 
   /* */
body{
  overflow: hidden;
}

  .web{
background: linear-gradient(90deg, rgba(0, 0, 0, 0.544),transparent);
  }
  #menu, #cross{
    display: inline-block; 
    transition: transform 0.5s ease;
    /* transform-style: preserve-3d; */

    transform-origin: center;
  }
  .rotate{       
    transform: rotateZ(180deg);
  }
  .rotateBack{
    transform: rotateZ(-180deg);
  }

  .slideDownRight{ 
    position: absolute;
   left: 0;
   right: 0;
   width: 50%;
   height:0;
   background-color: rgba(0, 0, 0, 0.183);
   animation: slideDown 5s ease-out forwards;
   z-index: 10;
}
@keyframes slideDown{
   to{
       height: 100%;
   }
}
 .slideleftUp{ 
    position: absolute;
   bottom:  0;
   right: 0;
   width: 50%;
   height:0;
   animation: slideDown 5s ease-out forwards;
   z-index: 10;
   background-color: rgba(0, 0, 0, 0.548);

}
@keyframes slideDown{
   to{
       height: 100%;
   }
}
#cross-1{
  display: none;
}
  @media screen and (max-width: 1100px) {
   .Confidence{
    padding-left: 7vh;
   }
    #contents{
      width: 100%;
      max-width: 900px;
      /* background-color: yellow; */
    }
    #name{

      text-align: center;
    }
    .web{
     text-align: center;
     }
     ul{
      justify-content: center;
     }
  }
  @media screen and (max-width: 1000px) {
    #name{
      text-align: center;
    }
  }
  @media screen and (max-width: 750px) {
    #name{
      font-size: 4rem;
    }
    .web{
      font-size: 1.1rem;
    }
    ul{
      margin-top: 4vh;
    }
 #img{
  height: 25px;
 }
 #img-top{
  align-items: end;
  /* background-color: yellow; */
}
.atTab{
  flex-direction: column;
}
.slideDownRight{ 
position: absolute;
 left: 0;
 width: 0;
 height:25%;
 animation: slideDown 3s ease-out forwards;
 z-index: 10;
 background-color: rgba(0, 0, 0, 0.566);
}
@keyframes slideDown{
 to{
     width: 100%;
 }
}
.slideleftUp{ 
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  background-color: transparent;
 height:75%;
 animation: slideDown 3s ease-out forwards;
 z-index: 10;
}
@keyframes slideDown{
 to{
  width: 100%;
 }
}
#cross-1{
  display: block;
}
#cross-2{
  display: none;
}
  }
  @media screen and (max-width: 500px) {
    #name{
      font-size: 3rem;
    }
    .web{
      font-size: 0.9rem;
    }

  } 