
body{
  overflow: hidden;
}

  .web{
background: linear-gradient(90deg, rgba(0, 0, 0, 0.544),transparent);
  }
  #menu, #cross-1, #cross-2{
    display: inline-block; 
    transition: transform 0.5s ease;
    transform-origin: center;
  }
  #confy-image{
    border: 4px solid  #F59E0B;
  }
  .rotate{       
    transform: rotateZ(180deg);
  }
  .rotateBack{
    transform: rotateZ(-180deg);
  }
  .slideDownRight{ 
    position: absolute;
  overflow: hidden;

   left: 0;
   right: 0;
   width: 50%;
   height:0;
   background-color: rgba(47, 44, 44, 0.476);
   animation: slideDownRight 1s ease-out forwards;
   z-index: 10;
}

.focus{
  color: #F59E0B;
}
@keyframes slideDownRight{
   to{
       height: 100%;
   }
}
.slideDownOut{
  overflow: hidden;

  position: absolute;
  left: 0;
  width: 50%;
  height: 0;
  animation: slideDownOut 1s ease-out forwards;
  z-index: 10;
  background-color: rgba(47, 44, 44, 0.476);
}
@keyframes slideDownOut{
  from{
      height: 100%;
  }
  to{
    height: 0;
  }
 }
 .slideleftUp{ 
    position: absolute;
  overflow: hidden;

   bottom:  0;
   right: 0;
   width: 50%;
   height:0;
   animation: slideleftUp 1s ease-out forwards;
   z-index: 10;
   background-color:rgba(0, 0, 0, 0.485);

}
@keyframes slideleftUp{
  to{
       height: 100%;
      }
    }

    
.slideleftOut { 
  overflow: hidden;

  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%; 
  height: 0;
  animation: slideleftOut 1s ease-out forwards;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.485);
}

@keyframes slideleftOut {
  from {
    height: 100%; 
  }
  to{
    height: 0;
  }

}

#cross-1{
  display: none;
}
.reduceOpacity{
  opacity: 0.3;
}
#AboutMe:hover{
  color: #F59E0B;
}
  @media screen and (max-width: 1100px) {
   .Confidence{
    padding-left: 7vh;
   }
    #contents{
      width: 100%;
      max-width: 900px;
      /* background-color: yellow; */
    }
    #name{

      text-align: center;
    }
    .web{
     text-align: center;
     }
     #faceLinked{
      justify-content: center;
     }

  }
  @media screen and (max-width: 1000px) {
    #name{
      text-align: center;
    }
  }
  @media screen and (max-width: 750px) {
    #name{
      font-size: 4rem;
    }
    .web{
      font-size: 1.1rem;
    }
    ul{
      margin-top: 4vh;
    }
 #img{
  height: 25px;
 }
 #Right{
  justify-content: end;
 
 }
 #UlAboutMe{
   margin-top: 5vh;
 }
 #Right > div{
  justify-content: space-between;
  align-items: center;
  padding-left: 6vh;
  width: 80%;
  max-width: 500px;

 }
 #confy-image{
  height: 140px;
  width: 140px;
}
 #img-top{
  align-items: end;
  /* background-color: yellow; */
}
.atTab{
  flex-direction: column;
}
.slideDownRight{ 
  overflow: hidden;

position: absolute;
 left: 0;
 width: 0;
 height:25%;
 animation: slideDownRight 1s ease-out forwards;
 z-index: 10;
 background-color: rgba(47, 44, 44, 0.476);
}
@keyframes slideDownRight{
 to{
     width: 100%;
 }
}
.slideDownOut{
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 0;
  height: 25%;
  animation: slideDownOut 1s ease-out forwards;
  z-index: 10;
  background-color: rgba(47, 44, 44, 0.476);
}
@keyframes slideDownOut{
  from{
      width: 100%;
  }
  to{
    width: 0;
  }
 }

/* Original: Slides in from right to left */
.slideleftUp { 
  overflow: hidden;

  position: absolute;
  bottom: 0;
  right: 0; 
  width: 0;
  height: 75%;
  animation: slideleftUp 1s ease-out forwards;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.485);
}
.wordSlide{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  bottom: 0;
  animation: wordSlide 3s ease-in-out forwards;
  z-index: 10;
}
@keyframes wordSlide {
  from{
    width: 0;
text-transform: uppercase;
align-items: end;
  }
  to{
    width: 100%;
    align-items: center;
    text-align: center;
  }

}
.wordSlideBack{
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  bottom: 0;
  animation: wordSlideBack 3s ease-in-out forwards;
  z-index: 10;
}
/* @keyframes wordSlideBack {
  from{
    width: 100%;
text-transform: uppercase;
align-items: end;
  }
  to{
    width: 0;
    align-items: center;
    text-align: center;
  }

} */

@keyframes slideleftUp {
  to {
    width: 100%; 
  }
}


.slideleftOut { 
  overflow: hidden;

  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%; 
  height: 75%;
  animation: slideleftOut 1s ease-out forwards;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.485);
}

@keyframes slideleftOut {
  from {
    width: 100%; 
  }
  to{
    width: 0;
  }

}

#cross-1{
  display: block;
}
#cross-2{
  display: none;
}
#portfolio{
  padding-left: 2vh;
}

  }
  @media screen and (max-width: 500px) {
    #name{
      font-size: 3rem;
    }
    .web{
      font-size: 0.8rem;
    }

  } 
  @media screen and (max-width: 400px) {
    #name{
      font-size: 2.5rem;
    }
    .web{
      font-size: 0.5rem;
    }
    #Right > div{
      justify-content: space-between;
      align-items: center;
     }
  } 