


  .web{
    display: flex;
justify-content: center;
background: linear-gradient(90deg, rgba(0, 0, 0, 0.544),transparent);
  }
  .web> div{
    /* background: red; */
    width: 90%;
  }
  #menu, #cross-1, #cross-2{
    display: inline-block; 
    transition: transform 0.5s ease;
    transform-origin: center;
  }
  #portfolio{
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  #contents{
    /* background-color: red; */
    width: 95%;
    max-width: 1000px;
  }
  
  #confy-image{
    border: 4px solid  #F59E0B;
  }
  .rotate{       
    transform: rotateZ(180deg);
  }
  .rotateBack{
    transform: rotateZ(-180deg); 
  }
/* .backGroun{
  background-image: url('../main/images/');

} */

 .wordSlideClose li{
  animation: zigzagClose 0.3s ease-out forwards;
}
@keyframes zigzagClose {
  from{
    opacity: 1;
  }to{
    opacity: 0;
  }
}

.wordSlide li {
  animation: zigzag 0.5s ease-out forwards;
}

@keyframes zigzag {
  0% {
    transform: translate(100%, -20px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.wordSlide li:nth-child(1) {
  animation-delay: 0.15s;
}
.wordSlide li:nth-child(2) {
  animation-delay: 0.35s;
}
.wordSlide li:nth-child(3) {
  animation-delay: 0.45s;
}
.wordSlide li:nth-child(4) {
  animation-delay: 0.55;
}

/* slide for left and right */
.slideDownRight{ 
  position: absolute;
overflow: hidden;

 left: 0;
 right: 0;
 width: 50%;
 height:0;
 background-color: rgba(47, 44, 44, 0.808);
 animation: slideDownRight 1s ease-out forwards;
 z-index: 10;
}
@keyframes slideDownRight{
 to{
     height: 100%;
 }
}
.slideDownOut{
  overflow: hidden;

  position: absolute;
  left: 0;
  width: 50%;
  height: 0;
  animation: slideDownOut 1s ease-out forwards;
  z-index: 10;
  background-color: rgba(47, 44, 44, 0.808);
}
@keyframes slideDownOut{
  from{
      height: 100%;
  }
  to{
    height: 0;
  }
 }
 .slideleftUp{ 
    position: absolute;
  overflow: hidden;

   bottom:  0;
   right: 0;
   width: 50%;
   height:0;
   animation: slideleftUp 1s ease-out forwards;
   z-index: 10;
   background-color:rgba(0, 0, 0, 0.781);

}
@keyframes slideleftUp{
  to{
       height: 100%;
      }
    }

    
.slideleftOut { 
  overflow: hidden;

  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%; 
  height: 0;
  animation: slideleftOut 1s ease-out forwards;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.781);
}

@keyframes slideleftOut {
  from {
    height: 100%; 
  }
  to{
    height: 0;
  }

}
#img{
  height: 40px;
  width: 40px;
}

#img:hover{
   border-radius: 50%;
   background-blend-mode: multiply;
   background-color: #f59f0b78;  
 }
#cross-1{
  display: none;
}
.reduceOpacity{
  opacity: 0.002;
}
.overfkow{
  overflow: hidden;

}
/* to hover my li>a */
#AboutMe:hover{
  color: #F59E0B;
}


.bubbles, .Secondbubble{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Secondbubble{
  top: 8.5vh;
}
.bubbles{
  top: -2vh;
}

.bubbles > span {
  position: relative;

  width: 20px;
  height:  20px;
  background-color: #fff;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #312a2a, 
  0 0 50px #fff,
  0 0 100px #fff;
  animation: tailwind 15s linear infinite;
  animation-duration: calc(3800s /var(--i));
  z-index: -1;
  /* animation-delay: 3s; */
}


.Secondbubble > span{
  position: relative;
  width: 15px;
  height:  15px;
  background-color: #fff;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #2c312a, 
  0 0 50px #ffffff,
  0 0 100px #fff;
  animation: Secondbubble 15s linear infinite;
  animation-duration: calc(5000s /var(--i));
  z-index: -1;
  /* animation-delay: 3s; */
}

.bubbles span:nth-child(even){
  background-color: #fff;
  box-shadow: 0 0 0 10px #849247f8, 
  0 0  50px #a37b2f,
  0 0  100px #a37b2f;
}
.Secondbubble span:nth-child(even){
  background-color: #fff;
  box-shadow: 0 0 0 10px #849247f8, 
  0 0  50px #a37b2f,
  0 0  100px #a37b2f;
}
 @keyframes tailwind {
  0%{
      transform: translateY(100vh) scale(0.2);
  }
  100%{
      transform: translateY(-10vh) scale(1);
  }
} 
 @keyframes Secondbubble {
  0%{
      transform: translateY(-10vh) scale(0.2);
  }
  100%{
      transform: translateY(100vh) scale(1);
  }
} 
.WebProgramer>h2{
  /* background: #000; */
  display: inline-block;
}
.WebProgramer>h2>span{
  position: relative;
  display: inline;
  color: transparent;
  -webkit-text-stroke: .7px #F59E0B;
  animation: TextDisplay 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}
@keyframes TextDisplay {
  25%,100%{
    display: none;
  }
}
.WebProgramer>h2>span::before{
content: attr(data-text);
position: absolute;
width: 0;
border-right: 2px solid #F59E0B;
color: #F59E0B;
white-space: nowrap;
overflow: hidden;
animation: FillText 4s linear infinite;
}
@keyframes FillText {
  10%, 100%{
    width: 0;
  }
  70%, 90%{
    width: 100%;
  }
}


/* media query */
  @media screen and (max-width: 1100px) {
    #name{
      text-align: center;
    }
    .web, #web{
     text-align: center;
     }
     #faceLinked{
      justify-content: center;
     }

  }
  @media screen and (max-width: 1000px) {
    #name{
      text-align: center;
    }
  }
  @media screen and (max-width: 750px) {
    #name{
      font-size: 4.5rem;
    }
    .web, #web{
      font-size: 1.4rem;
      /* width: 20%; */
    }
    ul{
      margin-top: 4vh;
    }
 #img{
  height: 30px;
  width: 30px;
 }
 #Right{
  justify-content: end;
 
 }
 #UlAboutMe{
   margin-top: 5vh;
 }
 #Right > div{
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 500px;

 }
 #confy-image{
  height: 140px;
  width: 140px;
}
 #img-top{
  align-items: end;
  /* background-color: yellow; */
}
.atTab{
  flex-direction: column;
}
.slideDownRight{ 
  overflow: hidden;

position: absolute;
 left: 0;
 width: 0;
 height:25%;
 animation: slideDownRight 0.5s ease-out forwards;
 z-index: 10;
 background-color: rgba(47, 44, 44, 0.438);
}
@keyframes slideDownRight{
 to{
     width: 100%;
 }
}
.slideDownOut{
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 0;
  height: 25%;
  animation: slideDownOut 0.5s ease-out forwards;
  z-index: 10;
  background-color: rgba(47, 44, 44, 0.507);
}
@keyframes slideDownOut{
  from{
      width: 100%;
  }
  to{
    
    width: 0;
  }
 }
 

/* Original: Slides in from right to left */
.slideleftUp { 
  overflow: hidden;

  position: absolute;
  bottom: 0;
  right: 0; 
  width: 0;
  height: 75%;
  animation: slideleftUp 0.5s ease-out forwards;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.781);
}

@keyframes slideleftUp {
  to {
    width: 100%; 
  }
}


.slideleftOut { 
  overflow: hidden;

  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%; 
  height: 75%;
  animation: slideleftOut 0.5s ease-out forwards;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.781);
}

@keyframes slideleftOut {
  from {
    width: 100%; 
  }
  to{
    width: 0;

  }

}
  

/* for confy image opacity */
.slideDownOut img{
  animation: imgOpacity 0.5 ease-out forwards;
 }
 @keyframes imgOpacity {
  from{
    opacity: 100%;

  }
  to{
    opacity: 0;
  }
 }


#cross-1{
  display: block;
  
}
#cross-2{
  display: none;
}


  }

  @media screen and (max-width: 550px) {
    #name{
      font-size: 3rem;
    }
    .web,  #web{
      font-size: 20px;
    }
    #Right > div{
      width: 100%;
      justify-content: space-between;
      align-items: center;
     }
     #slide> li > a{
      font-size: 25px;
     } 
     #menu,#cross-1, #cross-2{
      position: relative;
      left: 26px;
     }

  } 