.button{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.324), rgba(255, 255, 255, 0.357));
    width: 50%;
    height: 5vh;
    /* background-color: #000; */
}

@media screen and (max-width: 600px) {
    #hel{
        height: 142vh;
    }
    #contactMes{
        /* background: #000; */
        row-gap: 2vh;
        grid-template-rows: auto auto auto;
} 
}