.button{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.324), rgba(255, 255, 255, 0.357));
    width: 50%;
    height: 5vh;
    /* background-color: #000; */
}
#contactMes{
    grid-template-columns: auto auto auto;
    row-gap: 2vh;
    margin-bottom: 2vh;
}
/* #hel{
    height: 160vh;
} */
@media screen and (max-width: 800px) {
    #hel{
        /* height: 160vh; */
    }
    #contactMes{
        /* background: #000; */
        row-gap: 2vh;
        grid-template-columns: auto auto;
        margin-bottom: 2vh;
} 
}
@media screen and (max-width: 700px) {
    #hel{
        /* height: 155vh; */
    }

}
@media screen and (max-width: 560px) {
    #hel{
        /* height: 258vh; */
    }
    #contactMes{
        /* background: #000; */
        row-gap: 2vh;
        grid-template-columns: auto;
} 
}
@media screen and (max-width: 460px) {
    #hel{
        /* height: 240vh; */
    }
    #contactMes{
        /* background: #000; */
        row-gap: 2vh;
        grid-template-columns: auto;
} 
}