.textOpacity{
background: linear-gradient(90deg, rgba(0, 0, 0, 0.324), rgba(255, 255, 255, 0.357));
width: 100%;
}
#hel{
    height: 125vh;
    
}
#Skills > li{
    grid: auto auto ;
    list-style-type: disc;
}
#contents{
    max-width: 1200px;
    width: 80%;
}


#cards > div:nth-child(2){
    border-bottom: 4px solid yellow;
}
#cards > div:nth-child(3){
    border-bottom: 4px solid yellow;
}

@media screen and (max-width:750px) {
    #hel{
        height: 163vh;
       
        justify-content: center;
        /* align-items: center; */
    }
 
#imageBio{
    flex-direction: column;
}
#Bio{
width: 100%;
text-align: center;
}
#mainBioA{
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#cards{
    /* background-color: yellow; */
height: 150%;
    flex-direction: column;
    row-gap: 2vh;
}
#cards:nth-child(1){
    display: none;
}


}

@media screen and (max-width:550px) {
    #hel{
        height: 175vh;

    }

    #img-top{
        margin-top: -5vh;
    }
}
@media screen and (max-width:400px) {
    #hel{
        height: 183vh;
    }
    
      #footer > div > p{
          font-size: 16px;
      }
}