.fewThings {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.324), rgba(255, 255, 255, 0.357));
    width: 100%;
}


#Mycontacts>div {
    border: 2px solid white;
    height: 15vh;
}
      #name{
        text-align: center;
        color: #3b3935;
        position: relative;
        margin-bottom: 5vh;
        width: 100%;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
        line-height: 0.670em;
        outline: none;
        animation:  animate 7s ease-in infinite;
      }

      @keyframes animate {
        0%, 18%, 20%, 50.1%, 60%, 65.1% ,80%, 90.1%, 92%
        {
            color: #3b3935;
            text-shadow: none;
            filter: blur(5px);
        }
         18.1%, 20.1%, 50%, 60.1%, 65% ,80.1%, 90%, 92.1%, 100%{
            color: #ffff;
            filter: blur(0);
            text-shadow: 0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #fff,
            0 0 80px #fff,
            0 0 160px #fff,
            0 0 200px #fff;
        }
      }


      .bubbles, .Secondbubble{
        position: relative;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* animation: tailwindss 15s linear infinite; */

      }
      .bubbles > span{
        position: relative;
        width: 15px;
        height:  15px;
        background-color: #fff;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 5px #312a2a, 
        0 0 50px #fff,
        0 0 100px #fff;
        animation: tailwind 15s linear infinite;
        animation-duration: calc(5000s /var(--i));
        /* animation-delay: 3s; */
      }
      .Secondbubble > span{
        position: relative;
        width: 15px;
        height:  15px;
        background-color: #fff;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 5px #312a2a, 
        0 0 50px #fff,
        0 0 100px #fff;
        animation: Secondbubble 15s linear infinite;
        animation-duration: calc(5000s /var(--i));
        /* animation-delay: 3s; */
      }

      .bubbles span:nth-child(even){
        background-color: #fff;
        box-shadow: 0 0 0 5px #849247f8, 
        0 0  50px #a37b2f,
        0 0  100px #a37b2f;
      }
      .Secondbubble span:nth-child(even){
        background-color: #fff;
        box-shadow: 0 0 0 5px #849247f8, 
        0 0  50px #a37b2f,
        0 0  100px #a37b2f;
      }
       @keyframes tailwind {
        0%{
            transform: translateY(100vh) scale(0.2);
        }
        100%{
            transform: translateY(-10vh) scale(0.7);
        }
      } 
       @keyframes Secondbubble {
        0%{
            transform: translateY(-10vh) scale(0.2);
        }
        100%{
            transform: translateY(100vh) scale(0.7);
        }
      } 
 